button {
    &.product-listed {
      width: 100%;
      display: flex;
      margin-top: 5px;
    }
    
    .price {
      margin-left: auto;
    }
    
    &.negative, &.negative:focus, &.negative:active, &.negative[disabled]:hover{
      background-color: red;
    }
  }
  
  