.big-button {
  margin-right: 5px;
  width: 100%;
  height: 200px;
  &:last-child {
    margin-right: 0px;
  }
}

.btn-secondary {
  background-color:green;
  color:white;
}

.own-row {
  margin-bottom: 15px;
  display: flex;
}

.full-size-btn {
  width: 100%;
  height: 100px;
}